<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smart"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainAddTypeTh"
            android:exported="false"
            android:label="@string/title_activity_main_add_type_th"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainActiv"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainAddType"
            android:exported="false"
            android:label="@string/title_activity_main_add_type"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainAddRoom"
            android:exported="false"
            android:label="@string/title_activity_main_add_room"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainShowThTable"
            android:exported="false"
            android:label="@string/title_activity_main_show_th_table"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainAddTh"
            android:exported="false"
            android:label="@string/title_activity_main_add_th"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainAddSen"
            android:exported="false"
            android:label="@string/title_activity_main_add_sen"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainAutorize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Smart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThinfoActivity"
            android:exported="false"
            android:label="@string/title_activity_thinfo"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MoreInfActivity"
            android:exported="false"
            android:label="@string/title_activity_more_inf"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.Smart" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Smart">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>